In [30]:
import numpy as np
import pandas as pd

In [31]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

In [32]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

In [33]:
#Question #1: What sex was the youngest respondent? 
#Hint: 
#Break it down in two steps. #Step 1: Create a boolean index that is True where the value in the age column is equal to the minimum of the age column. Step 2: Select the sex column.
#one line of code
pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

In [36]:
#Question #2: What age was the person with the most pets?
#Hint:
# task: create new column 'num_pets' which contains the number of pets
# each person had (hint: this is the length of each list in the pets column)
# one line of code here:

pets['num_pets'] = pets['pets'].apply(lambda x: len(x))
## Now we can view the DataFrame again to check our additional info on num_pets column
pets

  sex  age                     pets  num_pets
0   M   21               [cat, dog]         2
1   M   45                [hamster]         1
2   F   23            [cat, gerbil]         2
3   M   56  [fish, hamster, gerbil]         3
4   F   47                    [cat]         1
5   F   70                    [dog]         1
6   F   34                    [dog]         1
7   M   30                    [cat]         1
8   F   19            [rabbit, cat]         2
9   M   62                    [dog]         1

In [37]:
#once we have the number of pets listed, we need to locate the person with maximum number of pets (just like we found youngest respondent for the first question)
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']# The output points to index 3 with 56 years, the oldest person.

3    56
Name: age, dtype: int32

In [38]:
#Question #3: What was the most popular pet?
#Hint: Again here it is useful to consider using a lambda function to create a boolean index which is True if a respondent said they had a dog and False otherwise.
#Example: ('dog' in ['dog', 'cat'], 'dog' in ['rabbit']). 
#Here is what we can do:
# task: use a lambda function to test whether 'dog' is contained in each list of animals,
# extract the age column and then chain the mean method to calculate the average age.
# one line of code here:
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [39]:
# task: produce an ordered count of each animal to visualize the most popular, i.e., cat with the maximum count of 5 in the output
# one line of code here:
pet_series.value_counts()

cat        5
dog        4
hamster    2
gerbil     2
fish       1
rabbit     1
dtype: int64

In [41]:
#Question #4: What was the average age of dog owners?
#Again, we can use the lambda function to create a boolean index which is True if a respondent said they had a dog and Falseotherwise.
# example
('dog' in ['dog', 'cat'], 'dog' in ['rabbit'])

(True, False)

In [45]:
# task: use a lambda function to test whether 'dog' is contained in each list of animals,
# extract the age column and then chain the mean method to calculate the average age.
# one line of code here:
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].mean()

46.75